/*-----------------------------------------------------------------------------------

	Template Name: White Line v1.0.0 | Responsive Coming Soon Page HTML
	Author: MZ
	Author URI: http://themeforest.net/user/mzworks

-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------

 	TABLE OF CONTENTS

	1. Global
	2. Helpers
	3. Page layout
		3.1 Page header
		3.2 Page Main
		3.3 Page Footer
	4. Sections
		4.1 Contacts
		4.2 Countdown
	5. Common

-----------------------------------------------------------------------------------*/


/**
	1. Global
**/

body {
    color: #fff;
    font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
    line-height: 1.8;
    font-size: 16px;
    position: relative;
    background-color: #333;
    font-weight: 300;
}

.page-wrap {
    position: relative;
    z-index: 2;
}


/*
 * Clearfix: contain floats
 */

.clearfix:before,
.container-full:before,
.owl-carousel-nav:before,
.gallery-row:before,
.page-header:before,
.form-wrap:before,
.clearfix:after,
.container-full:after,
.owl-carousel-nav:after,
.gallery-row:after,
.page-header:after,
.form-wrap:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container-full:after,
.owl-carousel-nav:after,
.gallery-row:after,
.page-header:after,
.form-wrap:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix,
.container-full,
.owl-carousel-nav,
.gallery-row,
.page-header,
.form-wrap {
    *zoom: 1;
}

.container-full {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container-full {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.section {
    overflow: hidden;
}

.section.section-no-space {
    padding-bottom: 0;
    padding-top: 0;
}

.js-video-container {
    display: block;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 12;
}

section .container-full,
section .container-fluid,
section .container {
    position: relative;
    z-index: 12;
}

.full-height-block {
    display: table;
    height: 100vh;
}

.full-height-block .full-height-block-content {
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .full-height-block .full-height-block-content {
        padding: 0 5%;
    }
}

.small-popup {
    width: 100%;
    background-color: #333;
    margin: 0 auto;
    padding: 15px 15px 25px;
    position: relative;
}

@media (min-width: 768px) {
    .small-popup {
        width: 500px;
        padding: 50px 70px 80px;
    }
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    font-size: 31px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 18px;
    padding: 0;
    letter-spacing: 0.02em;
    font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
    line-height: 1.2;
}

.h1,
h1 {
    font-size: 36px;
}

@media (min-width: 768px) {
    .h1,
    h1 {
        font-size: 64px;
    }
}

.h2,
h2 {
    font-size: 26px;
}

@media (min-width: 768px) {
    .h2,
    h2 {
        font-size: 44px;
    }
}

.h3,
h3 {
    font-size: 22px;
}

@media (min-width: 768px) {
    .h3,
    h3 {
        font-size: 32px;
    }
}

.h4,
h4 {
    font-size: 16px;
}

@media (min-width: 768px) {
    .h4,
    h4 {
        font-size: 21px;
    }
}

.h5,
h5 {
    font-size: 14s 14px;
}

@media (min-width: 768px) {
    .h5,
    h5 {
        font-size: 14s 18px;
    }
}

p {
    margin: 0px 0px 20px;
}

a {
    color: white;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: white;
}

label {
    font-weight: 300;
}

.section-title {
    font-weight: 100;
}

.color-dark {
    color: #333333;
}

.social-nav {
    display: inline-block;
    display: block;
    margin: 10px 0px;
    text-align: right;
}

@media (min-width: 768px) {
    .social-nav {
        margin: 10px 0px;
    }
}

.social-nav ul {
    list-style: none;
    margin: 0 -12px;
    padding: 0;
}

.social-nav ul li {
    display: inline-block;
    margin: 0px 6px;
}

@media (min-width: 768px) {
    .social-nav ul li {
        margin: 0px 16px;
    }
}

.social-nav ul li a {
    color: rgba(255, 255, 255, 0.97);
    font-size: 18px;
}

@media (min-width: 768px) {
    .social-nav ul li a {
        font-size: 16px;
    }
}

.social-nav ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0;
    padding: 8px 18px;
}

.btn>i {
    margin-left: 10px;
    margin-right: -6px;
}

.btn.btn-sm {
    padding: 6px 14px;
}

.btn.btn-lg {
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .btn.btn-lg {
        padding: 12px 24px;
    }
}

.btn.btn-border {
    background-color: transparent;
    border: 1px solid white;
    color: #FFF;
}

.btn.btn-border:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.btn.btn-action {
    background-color: white;
    border-color: white;
    color: #fff;
}

.btn.btn-action:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.btn.btn-dark {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.btn.btn-dark:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.btn+.btn {
    margin-left: 10px;
}

.btn.btn-color {
    background-color: #5262b7;
    border-color: #5262b7;
    color: #fff;
}

.btn.btn-color:hover {
    color: #fff;
    background-color: #3f4d97;
    border-color: #3f4d97;
}

.btn.btn-outline {
    border-radius: 0;
    border-color: #FFF;
    color: #fff;
    background: transparent;
    -moz-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn.btn-outline.btn-inverse {
    color: #000;
    background-color: #FFF;
}

.btn.btn-outline.btn-inverse:hover {
    background: rgba(255, 255, 255, 0.6);
}

.btn.btn-outline:hover {
    background-color: #FFF;
    color: #000;
}

.btn.btn-outline-dark {
    border-radius: 0;
    border-color: #333333;
    color: #333333;
    background: transparent;
    -moz-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn.btn-outline-dark:hover {
    background-color: #333333;
    color: #ffffff;
}

.btn.btn-rounded {
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.btn-outline.btn-submit {
    text-transform: uppercase;
    background: transparent;
    border-color: #ccc;
    color: white;
    padding: 10px 18px;
    position: relative;
    z-index: 1;
}

.btn-outline.btn-submit:hover {
    z-index: 2;
    background: white;
    border-color: white;
    color: #000;
}

.owl-theme .owl-controls {
    margin-top: 20px;
    margin-bottom: 20px;
}

.owl-theme .owl-controls .owl-page.active span {
    -moz-transform: scale(1) translate3d(0px, 0px, 0px);
    -ms-transform: scale(1) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
    transform: scale(1) translate3d(0px, 0px, 0px);
}

.owl-theme .owl-controls .owl-page span {
    background: #cccccc;
    margin: 4px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    -moz-transform: scale(0.8) translate3d(0px, 0px, 0px);
    -ms-transform: scale(0.8) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(0.8) translate3d(0px, 0px, 0px);
    transform: scale(0.8) translate3d(0px, 0px, 0px);
}

.carousel-item-inner {
    padding: 0 30px;
    z-index: 3;
}

.owl-carousel-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
}

.owl-carousel-nav .owl-btn {
    background-color: #333333;
    display: inline-block;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 0;
    cursor: pointer;
    float: left;
}

.owl-carousel-nav .owl-btn:hover {
    background-color: #000000;
}

.full-page-carousel {
    overflow: hidden;
    position: relative;
}

.full-page-carousel .owl-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.full-page-carousel .owl-item .item {
    padding: 20px 0;
    min-height: 100vh;
}

.owl-carousel {
    position: relative;
    z-index: 12;
}

.owl-carousel.full {
    width: 100%;
    height: 100%;
}

.owl-carousel.full .owl-item,
.owl-carousel.full .item {
    height: 100%;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -moz-transition: height 300ms ease-in-out 0s;
    -o-transition: height 300ms ease-in-out 0s;
    -webkit-transition: height 300ms ease-in-out;
    -webkit-transition-delay: 0s;
    transition: height 300ms ease-in-out 0s;
}

.owl-carousel.full {
    width: 100%;
    height: 100%;
}

.owl-carousel.full .owl-item,
.owl-carousel.full .item {
    height: 100%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    border-color: #ffffff;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span:before,
.owl-theme .owl-dots .owl-dot:hover span:before {
    background-color: #ffffff;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
    height: 18px;
    position: relative;
    top: 8px;
    transform-origin: 50% 50% 0;
    -moz-transition: -moz-transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease, background-color 0.5s ease, border-color 0.2s ease;
    -webkit-transition-delay: 0s, 0s, 0s;
    transition: transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    width: 18px;
    background-color: transparent;
    border: 1px solid transparent;
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    display: inline-block;
    background: transparent;
    margin: -10px 5px;
}

.owl-theme .owl-dots .owl-dot span:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
}

.background-parallax {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

@media (min-width: 768px) {
    .background-parallax {
        -webkit-background-attachment: fixed;
        background-attachment: fixed;
    }
}

.background-cover {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-background {
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    width: auto;
    z-index: 1;
}

.page-background.bg-jacksons-purple {
    background: #1F3A93;
}

.page-background.bg-asbestos {
    background: #7f8c8d;
}

.page-background.bg-orange {
    background: #f39c12;
}

.page-background.bg-promegranate {
    background-color: #c0392b;
}

.page-background.bg-pumpkin {
    background: #d35400;
}

.page-background.bg-belize-hole {
    background-color: #2980b9;
}

.page-background.bg-green-sea {
    background-color: #16a085;
}

.page-background.bg-midnight-blue {
    background: #2c3e50;
}

.page-background.bg-wisteria {
    background-color: #8e44ad;
}

.page-background.gradient-1 {
    background: -webkit-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* W3C */
}

.page-background.gradient-2 {
    background: -webkit-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #5d4157 10%, #a8caba 90%);
    /* W3C */
}

.page-background.gradient-3 {
    background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
    /* W3C */
}

.page-background.gradient-4 {
    background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
    /* W3C */
}

.page-background.gradient-5 {
    background: -webkit-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
    /* W3C */
}

.page-background.gradient-7 {
    background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
    /* W3C */
}

.page-background.gradient-8 {
    background: -webkit-linear-gradient(90deg, #000000 10%, #53346D 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #000000 10%, #53346D 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #000000 10%, #53346D 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #000000 10%, #53346D 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #000000 10%, #53346d 90%);
    /* W3C */
}

.page-background.gradient-9 {
    background: -webkit-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #ffb347 10%, #ffcc33 90%);
    /* W3C */
}

.page-background.gradient-10 {
    background: -webkit-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #fe8c00 10%, #f83600 90%);
    /* W3C */
}

.page-background.gradient-11 {
    background: -webkit-linear-gradient(90deg, #52c234 10%, #061700 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #52c234 10%, #061700 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #52c234 10%, #061700 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #52c234 10%, #061700 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #52c234 10%, #061700 90%);
    /* W3C */
}

.page-background.gradient-12 {
    background: -webkit-linear-gradient(90deg, #1e130c 10%, #9a8478 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #1e130c 10%, #9a8478 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #1e130c 10%, #9a8478 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #1e130c 10%, #9a8478 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #1e130c 10%, #9a8478 90%);
    /* W3C */
}

.page-background.gradient-13 {
    background: -webkit-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #360033 10%, #0b8793 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #360033 10%, #0b8793 90%);
    /* W3C */
}

.page-background.gradient-14 {
    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #232526 10%, #414345 90%);
    /* W3C */
}

.bg-image-1 {
    background-image: url("../images/backgrounds/bg-1.jpg");
}

.bg-image-2 {
    background-image: url("../images/backgrounds/bg-2.jpg");
}

.bg-image-3 {
    background-image: url("../images/backgrounds/bg-3.jpg");
}

.bg-image-4 {
    background-image: url("../images/backgrounds/bg-4.jpg");
}

.bg-image-5 {
    background-image: url("../images/backgrounds/bg-5.jpg");
}

.bg-image-6 {
    background-image: url("../images/backgrounds/bg-6.jpg");
}

.bg-image-7 {
    background-image: url("../images/backgrounds/bg-7.jpg");
}

.bg-image-8 {
    background-image: url("../images/backgrounds/bg-8.jpg");
}

.bg-image-9 {
    background-image: url("../images/backgrounds/bg-9.jpg");
}

.bg-particles {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.bg-primary {
    background-color: #5262b7;
}

.bg-white {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #25282e;
}

textarea.form-control {
    padding: 7px 8px 8px;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
    padding: 7px 8px 8px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.form-control.border-bottom {
    border-color: transparent;
    border-bottom: 1px solid #fff;
}

.form-control.border-bottom:hover,
.form-control.border-bottom:focus {
    border-color: transparent;
    border-bottom-color: #5262b7;
}

.form-control:hover,
.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FFF;
}

.form-control.form-control-no-space {
    padding-left: 0;
    padding-right: 0;
}

.form-control.form-control-rounded {
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.95);
}

.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.95);
}


/* Firefox 19+ */

.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.95);
}


/* Firefox 18- */

.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.95);
}

input.form-control {
    height: 39px;
}

.input-group-btn>.btn {
    font-size: 15px;
    padding: 8px 18px 8px 18px;
}

.input-group.input-group-roundend .form-control {
    -moz-border-radius: 24px 0 0 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px 0 0 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.input-group.input-group-roundend .input-group-btn .btn {
    -moz-border-radius: 0 24px 24px 0;
    -webkit-border-radius: 0;
    border-radius: 0 24px 24px 0;
}

.iconbox {
    display: table;
    margin-bottom: 40px;
}

.iconbox .iconbox-content {
    display: table-cell;
    visibility: middle;
}

.iconbox .iconbox-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.iconbox .iconbox-side {
    display: table-cell;
    visibility: middle;
}

.iconbox .iconbox-side .iconbox-ico {
    margin-right: 15px;
}

.iconbox .iconbox-text {
    color: #555;
    font-size: 13px;
}

.ico-circle {
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.8);
    position: relative;
}

.ico-circle:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
    line-height: 1;
}

.ico-box {
    font-size: 50px;
    vertical-align: middle;
    margin-bottom: 24px;
    margin-top: 0px;
}

.ico-box.icon-box-sm {
    font-size: 30px;
}

.ico-box.icon-box-lg {
    font-size: 70px;
}

.fa {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=99);
    opacity: 0.99;
}

.tooltip {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}

@media (min-width: 768px) {
    .gallery-slide .gallery-item-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

.gallery-slide .gallery-item {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .gallery-slide .gallery-item {
        width: 50%;
        height: 50vh;
    }
}

@media (min-width: 992px) {
    .gallery-slide .gallery-item {
        width: 33.333%;
        height: 33.333vh;
    }
}

.gallery-slide .gallery-item .img-responsive {
    -moz-transform: scale(1) translate3d(0px, 0px, 0px);
    -ms-transform: scale(1) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
    transform: scale(1) translate3d(0px, 0px, 0px);
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.gallery-slide .gallery-item:hover .img-responsive {
    -moz-transform: scale(1.05) translate3d(0px, 0px, 0px);
    -ms-transform: scale(1.05) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(1.05) translate3d(0px, 0px, 0px);
    transform: scale(1.05) translate3d(0px, 0px, 0px);
}

.gallery-slide .gallery-item:hover:before {
    visibility: hidden;
    opacity: 0;
}

.gallery-slide .gallery-item:hover .icon {
    -moz-transform: scale(1) translate3d(0px, 0px, 0px);
    -ms-transform: scale(1) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
    transform: scale(1) translate3d(0px, 0px, 0px);
}

.gallery-slide .gallery-item:hover .title {
    bottom: 5%;
    visibility: hidden;
    opacity: 0;
}

@media (min-width: 768px) {
    .gallery-slide .gallery-item:hover .title {
        bottom: 25%;
    }
}

.gallery-slide .gallery-item .title {
    bottom: 20%;
    text-align: center;
    position: absolute;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    left: 0;
    width: 80%;
    left: 10%;
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    -moz-transition: all 0.24s ease-in-out;
    -o-transition: all 0.24s ease-in-out;
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out;
}

@media (min-width: 768px) {
    .gallery-slide .gallery-item .title {
        bottom: 40%;
        width: 60%;
        left: 20%;
    }
}

.gallery-slide .gallery-item .title .sub-title {
    margin: 5px 0;
    font-size: 14px;
}

.gallery-slide .gallery-item:before {
    background-color: rgba(0, 0, 0, 0.77);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    visibility: visible;
    position: absolute;
    z-index: 1;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

.overlay {
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    width: auto;
}

.overlay.grid {
    background-image: url("../images/overlays/01.png");
    background-repeat: repeat;
}

.overlay.light:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.dark:before {
    background-color: rgba(0, 0, 0, 0.87);
}

.overlay:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.72);
}


/**
	2. Helpers
**/

.pd-t {
    padding-top: 10%;
}

@media (min-width: 768px) {
    .pd-t {
        padding-top: 7%;
    }
}

.pd-b {
    padding-bottom: 10%;
}

@media (min-width: 768px) {
    .pd-b {
        padding-bottom: 7%;
    }
}

.pd-r {
    padding-right: 10%;
}

@media (min-width: 768px) {
    .pd-r {
        padding-right: 7%;
    }
}

.pd-l {
    padding-left: 10%;
}

@media (min-width: 768px) {
    .pd-l {
        padding-left: 7%;
    }
}

.mg-a {
    margin: 0 auto;
}

.mg-t {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .mg-t {
        margin-top: 35px;
    }
}

.mg-t-lg {
    margin-top: 12%;
}

@media (min-width: 768px) {
    .mg-t-lg {
        margin-top: 12%;
    }
}

.mg-r {
    margin-right: 30px;
}

@media (min-width: 768px) {
    .mg-r {
        margin-right: 35px;
    }
}

.mg-r-lg {
    margin-right: 12%;
}

@media (min-width: 768px) {
    .mg-r-lg {
        margin-right: 12%;
    }
}

.mg-l {
    margin-left: 30px;
}

@media (min-width: 768px) {
    .mg-l {
        margin-left: 35px;
    }
}

.mg-l-lg {
    margin-left: 12%;
}

@media (min-width: 768px) {
    .mg-l-lg {
        margin-left: 12%;
    }
}

.mg-b {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .mg-b {
        margin-bottom: 35px;
    }
}

.mg-b-lg {
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .mg-b-lg {
        margin-bottom: 45px;
    }
}

.f-bold-e {
    font-weight: 900;
}

.f-bold {
    font-weight: 700;
}

.f-thin {
    font-weight: 300;
}

.v-center {
    position: relative;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    top: 50%;
}

.strong {
    font-weight: 600;
}

.form-row {
    display: table;
}

.form-row .col-xs-1 {
    display: table-cell;
}

.form-row .col-sm-1 {
    display: table-cell;
}

.form-row .col-md-1 {
    display: table-cell;
}

.form-row .col-xs-2 {
    display: table-cell;
}

.form-row .col-sm-2 {
    display: table-cell;
}

.form-row .col-md-2 {
    display: table-cell;
}

.form-row .col-xs-3 {
    display: table-cell;
}

.form-row .col-sm-3 {
    display: table-cell;
}

.form-row .col-md-3 {
    display: table-cell;
}

.form-row .col-xs-4 {
    display: table-cell;
}

.form-row .col-sm-4 {
    display: table-cell;
}

.form-row .col-md-4 {
    display: table-cell;
}

.form-row .col-xs-5 {
    display: table-cell;
}

.form-row .col-sm-5 {
    display: table-cell;
}

.form-row .col-md-5 {
    display: table-cell;
}

.form-row .col-xs-6 {
    display: table-cell;
}

.form-row .col-sm-6 {
    display: table-cell;
}

.form-row .col-md-6 {
    display: table-cell;
}

.form-row .col-xs-7 {
    display: table-cell;
}

.form-row .col-sm-7 {
    display: table-cell;
}

.form-row .col-md-7 {
    display: table-cell;
}

.form-row .col-xs-8 {
    display: table-cell;
}

.form-row .col-sm-8 {
    display: table-cell;
}

.form-row .col-md-8 {
    display: table-cell;
}

.form-row .col-xs-9 {
    display: table-cell;
}

.form-row .col-sm-9 {
    display: table-cell;
}

.form-row .col-md-9 {
    display: table-cell;
}

.form-row .col-xs-10 {
    display: table-cell;
}

.form-row .col-sm-10 {
    display: table-cell;
}

.form-row .col-md-10 {
    display: table-cell;
}

.form-row .col-xs-11 {
    display: table-cell;
}

.form-row .col-sm-11 {
    display: table-cell;
}

.form-row .col-md-11 {
    display: table-cell;
}

.form-row .col-xs-12 {
    display: table-cell;
}

.form-row .col-sm-12 {
    display: table-cell;
}

.form-row .col-md-12 {
    display: table-cell;
}

.fa {
    opacity: 0.99;
}

.animated {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
}

.animated.visible {
    visibility: visible;
}

.text-white {
    color: #FFF;
}

.divider-icon {
    margin: 20px auto;
    overflow: hidden;
    width: 100%;
}

.divider-icon-inner {
    border-color: #e8e8e8;
    color: #bbb;
    display: inline-block;
    position: relative;
    text-align: center;
}

.divider-icon-inner:after,
.divider-icon-inner:before {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 9999px;
    opacity: 0.6;
}

.divider-icon-inner:before {
    margin-right: 0.5em;
    right: 100%;
}

.divider-icon-inner:after {
    left: 100%;
    margin-left: 0.5em;
}

.divider-icon-inner .inner-text:nth-child(2) {
    margin-left: 5px;
}

.divider-icon-dashed:after,
.divider-icon-dashed:before {
    border-top-style: dashed;
}

.divider-icon-dotted:after,
.divider-icon-dotted:before {
    border-top-style: dotted;
}

.divider-icon-double:after,
.divider-icon-double:before {
    border-top-style: double;
    border-top-width: 4px;
    margin-top: -2px;
}

.b-t {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.b-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.b-l {
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.b-r {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.helper {
    height: 50%;
    margin-bottom: -170px;
    width: 100%;
}

.required-label {
    color: #e74c3c;
}

.superscript {
    vertical-align: super;
    font-size: 22px;
    color: #212121;
    color: #666666;
    margin: 0px -10px;
}

.month {
    display: block;
    color: #666666;
}

.small-text {
    font-size: 14px;
}

.highlight {
    color: #bbbdca;
}

.f-bold {
    font-weight: 700;
}

.text-line {
    white-space: nowrap;
}

.vertical-middle {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}


/**
	3. Page layout
**/


/*
	3.1 Page header
*/


/*
    Page header
*/

.page-header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
    pointer-events: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    border: 0px;
    min-height: 60px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

@media (min-width: 992px) {
    .page-header {
        position: fixed;
        background-color: transparent;
        border-bottom: 1px solid transparent;
    }
}

.page-header .btn,
.page-header .logo,
.page-header a {
    pointer-events: auto;
}

.page-header .navbar-header {
    float: left;
}

.page-header .nvabar-right {
    float: right;
    padding: 8px 0;
}

@media (min-width: 768px) {
    .page-header .nvabar-right {
        padding: 14px 0;
    }
}


/*
    Navbar Ico
*/

.navbar-toggle {
    border-color: #ccc;
    padding: 7px 4px;
}

.navbar-toggle:hover,
.navbar-toggle.active {
    border-color: #999999;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle.active .icon-bar {
    background-color: #999999;
}

.navbar-toggle .icon-bar {
    background-color: #ccc;
    -moz-transition: -moz-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
    -o-transition: -o-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
}

.navbar-toggle .top-bar {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}


/*
    Logo
*/

.logo {
    font-size: 21px;
    line-height: 51px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
    float: left;
    -moz-transition: line-height 0.35s ease-in-out;
    -o-transition: line-height 0.35s ease-in-out;
    -webkit-transition: line-height 0.35s ease-in-out;
    transition: line-height 0.35s ease-in-out;
}

.logo>img {
    max-height: 56px;
    width: auto;
}

@media (min-width: 992px) {
    .logo {
        font-size: 27px;
        line-height: 59px;
    }
}

.logo .small {
    font-size: 70%;
    vertical-align: bottom;
    line-height: 52px;
}

.logo .circle-logo-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
}

.logo:hover .circle {
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
}

.logo:hover .icon {
    color: #5262b7;
    -moz-transform: scale(0.9) translate3d(0, 0, 0);
    -ms-transform: scale(0.9) translate3d(0, 0, 0);
    -webkit-transform: scale(0.9) translate3d(0, 0, 0);
    transform: scale(0.9) translate3d(0, 0, 0);
}

.logo .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: -15px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    visibility: hidden;
    -moz-transition: -moz-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
    -webkit-transition-delay: 0s, 0s;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -moz-transform: scale(0.6) translate3d(0, 0, 0);
    -ms-transform: scale(0.6) translate3d(0, 0, 0);
    -webkit-transform: scale(0.6) translate3d(0, 0, 0);
    transform: scale(0.6) translate3d(0, 0, 0);
}

@media (min-width: 992px) {
    .logo .circle {
        width: 40px;
        height: 40px;
        margin: -20px;
    }
}

.logo .icon {
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease 0s;
}


/*
	3.2 Page footer
*/


/*
	Page footer
*/

.page-footer {
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.72);
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 5px 0px;
    padding: 0px 0px;
    position: absolute;
    min-height: 40px;
    pointer-events: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

@media (min-width: 992px) {
    .page-footer {
        position: fixed;
        background-color: transparent;
        margin: 5px 0px;
    }
}

.page-footer .title {
    font-size: 21px;
    margin-bottom: 20px;
    margin-top: 0;
}

.page-footer a {
    color: rgba(255, 255, 255, 0.8);
    pointer-events: auto;
}

.page-footer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.page-footer .icon-box {
    color: #cccccc;
}

.copyright {
    font-size: 12px;
    line-height: 16px;
    color: #878787;
    margin: 7px 0px;
}

.footer-block {
    margin-bottom: 20px;
}


/*
	3.3 Sidebar
*/


/*
    Sidebar
*/

.sidebar-nav {
    position: fixed;
    top: 60px;
    right: 0px;
    margin: 0 15px;
    text-align: center;
    z-index: 1000;
}

@media (min-width: 992px) {
    .sidebar-nav {
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin: 0px 30px;
    }
}

.sidebar-nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sidebar-nav ul li {
    display: block;
}

.sidebar-nav ul li a {
    line-height: 18px;
    font-size: 16px;
    position: relative;
    display: block;
    margin: 12px 0px;
    text-align: right;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.sidebar-nav ul li a .nav-dot {
    height: 14px;
    position: relative;
    top: 8px;
    transform-origin: 50% 50% 0;
    -moz-transition: -moz-transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease, background-color 0.5s ease, border-color 0.2s ease;
    -webkit-transition-delay: 0s, 0s, 0s;
    transition: transform 0.2s ease 0s, background-color 0.5s ease 0s, border-color 0.2s ease 0s;
    width: 14px;
    background-color: transparent;
    border: 1px solid transparent;
    -moz-transform: scale(1) translate3d(0, 0, 0) rotate(45deg);
    -ms-transform: scale(1) translate3d(0, 0, 0) rotate(45deg);
    -webkit-transform: scale(1) translate3d(0, 0, 0) rotate(45deg);
    transform: scale(1) translate3d(0, 0, 0) rotate(45deg);
    position: absolute;
    right: 0px;
    top: 50%;
    margin: -10px 0px;
}

.sidebar-nav ul li a .nav-dot:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
}

.sidebar-nav ul li a .nav-label {
    color: #fff;
    margin-right: 30px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: inline-block;
    position: relative;
    transform-origin: 100% 50% 0;
    -moz-transition: -moz-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
    -webkit-transition-delay: 0s, 0s;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -moz-transform: scale(0.6) translate3d(0, 0, 0);
    -ms-transform: scale(0.6) translate3d(0, 0, 0);
    -webkit-transform: scale(0.6) translate3d(0, 0, 0);
    transform: scale(0.6) translate3d(0, 0, 0);
}

.sidebar-nav ul li.current a .nav-dot {
    border-color: #ffffff;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sidebar-nav ul li.current a .nav-dot:before {
    background-color: #ffffff;
}

.sidebar-nav ul li.current a .nav-label {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar-nav ul li:hover a .nav-dot {
    border-color: #ffffff;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sidebar-nav ul li:hover a .nav-dot:before {
    background-color: #ffffff;
}

.sidebar-nav ul li:hover a .nav-label {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar-nav ul li:hover a .nav-label {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}


/**
	4. Sections
**/


/*
	4.1 Contacts
*/

.map-wrapper {
    height: 220px;
    width: 100%;
    display: block;
}

#contact-map {
    width: 100%;
    height: 100%;
    display: block;
}

.box-block {
    float: left;
}

.block-half {
    width: 100%;
}

@media (min-width: 768px) {
    .block-half {
        width: 50%;
    }
}

.block-full {
    width: 100%;
}

#contact-form {
    position: relative;
}

.success-message,
.error-message {
    display: none;
    padding: 4px 8px;
    position: absolute;
    margin: -1px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
    .success-message,
    .error-message {
        bottom: auto;
    }
}

.mgs {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px;
}

@media (min-width: 768px) {
    .mgs {
        position: absolute;
        padding: 0;
    }
}


/*
	4.2 Countdown
*/

.counter-container {
    margin: 0 auto;
}

#clock {
    color: #fff;
    overflow: hidden;
    font-size: 0;
}

#clock .counter-box {
    display: block;
    width: 70px;
    overflow: hidden;
    padding: 10px 0px;
    display: inline-block;
    margin: 15px 0;
    position: relative;
}

@media (min-width: 768px) {
    #clock .counter-box {
        width: 170px;
        padding: 10px 5px;
    }
}

#clock .number {
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #clock .number {
        font-size: 71px;
    }
}

@media (min-width: 992px) {
    #clock .number {
        font-size: 80px;
    }
}

#clock span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    #clock span {
        font-size: 21px;
    }
}

#clock.with-lines span {
    padding-top: 10px;
}

#clock.with-lines span:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0px;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    display: none;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    display: block;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.loader span {
    margin: 0;
    display: block;
    font-size: 13px;
    line-height: 1;
    color: #5262b7;
}

@-webkit-keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}